<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
  <title>List Card</title>
  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    .body{
      background: linear-gradient(135deg, #f9e1e0, #9799BA);
      min-height: 87vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .container{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    .card{
      background-color: #f1f3ff;
      width: 260px;
      padding: 20px;
      margin: 30px;
      justify-self: start;
    }
    .card:hover .card-content{
      margin-top: -60px;
    }
    .card:hover .text-group{
      top: 90px;
      opacity: 1;
    }
    .card-cover{
      width: 100%;
      height: 200px;
      position: relative;
      margin-top: -60px;
      z-index: 10;
      box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card-cover h1{
      color: #fff;
      font-size: 38px;
    }
    .cover1{
      background: linear-gradient(135deg, #ead6ee, #5af8eb);
    }
    .card-content{
      height: 200px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      margin-top: -200px;
      position: relative;
      overflow: hidden;
      transition: margin-top .3s ease-out;
    } 
    .text-group{
      position: absolute;
      top: -80px;
      opacity: 0;
      transition: top .3s .3s ease-out;
    }
    .text-group h3{
      margin-bottom: 15px;
    }
  </style>
</head>
{% include "navbar.html" %}
<body>
      {% if catatan %}
      <div class="body">
      <div class="container">
      {% for note in catatan %}
          <div class="card">
            <div class="card-cover cover1">
              <h1>{{note.title}}</h1>
            </div>
            <div class="card-content">
              <div class="text-group">
                <h3>To: {{note.to}}</h3>
                <p>Message: {{note.message}}</p><br>
                <h3 class="dari">From: {{note.fromF}}</h3>
              </div>
            </div>
          </div>
      {% endfor %}
      </div>
    </div>
    {% endif %}
</body>
</head>
<body>
</body>
</html>