<!DOCTYPE html>
<html lang="en">
  <head>
      {% include "navbar.html" %}
      <meta charset="UTF-8" />
    <title>Note</title>
    <style>
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppons', sans-serif;
      }
      .body{
        display: flex;
        height: 86.5vh;
        justify-content: center;
        align-items: center;
        padding: 50px;
        background: linear-gradient(135deg, #f9e1e0, #9799BA);
      }
      .container{
        max-width: 700px;
        width: 100%;
        background: #fff;
        padding: 30px 15px;
        border-radius: 5px;
      }
      .container .title{
        font-size: 25px;
        font-weight: 500;
        position: relative;
      }
      .container .title::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 60px;
        background: linear-gradient(135deg, #f9e1e0, #9799BA);
      }
      .container form .user-details{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0 12px 0;
      }
      form .user-details .input-box{
        margin-bottom: 15px;
        width: calc(100% / 2 - 20px);
      }
      .user-details .input-box input details{
        display: block;
        font-weight: 500;
        margin-bottom: 5px;
      }
      .user-details .input-box input{
        height: 30px;
        width: 80%;
        outline: none;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 15px;
        font-size: 16px;
        border-bottom-width: 2px;
        transition: all 0,3s ease;
      }
      .user-details .input-box input:focus,
      .user-details .input-box input:valid{
        border-color:#9799BA
      }
      form .button{
        height: 45px;
        margin: 10px 0;
      }
      form .button input{
        height: 70%;
        width: 90%;
        outline: none;
        color: #fff;
        border: none;
        font-size: 18px;
        font-weight: 500;
        border-radius: 5px;
        letter-spacing: 1px;
        background: linear-gradient(135deg, #f9e1e0, #9799BA);
      }
      @media only screen and(max-width: 912px){
        .container{
          max-width: 80px 30px;
        }
        form .user-details .input-box{
          margin-bottom: 15px;
          width: 100%;
        }
        .container form .user-details{
          max-width: 300px;
          overflow-y: scroll;
        }
        .user-details::-webkit-scrollbar{
          width: 0;
        }
      }
    </style>
  </head>

  <body>
    <div class="body">
    <div class="container">
      <div class="title">Send Your Card</div>
      <form action = "" method = "POST">
          {% csrf_token %}
          <div class="user-details">
            <div class="input-box">
              <span class="details" for="to">To:</span><br>
              <input type="text" id="to" name="to"><br>
            </div>
            <div class="input-box">
              <span class="details" for="fromF">From:</span><br>
              <input type="text" id="fromF" name="fromF"><br>
            </div>
            <div class="input-box">
              <span class="details" for="title">Title:</span><br>
              <input type="text" id="title" name="title"><br>
            </div>
            <div class="input-box">
              <span class="details" for="message">Message:</span><br>
              <input type="text" id="message" name="message"><br>
            </div>
          </div>
          <div class="button"><br>
            <input type="submit" value="Send">
          </div>
      </form>
    </div>
    </div>
  </body>
</html>
