<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <style>
      *{
        padding: 0;
        margin:0;
        outline: 0;
        box-sizing: border-box;
      }
      .index{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        opacity: .7;
        background: linear-gradient(135deg, #f9e1e0, #9799BA);
      }
      table{
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 60%;
        border-collapse: collapse;
        border-spacing: 0;
        border-radius: 12px 12px 0 0;
        overflow: hidden;
        box-shadow: 0 5px 12px rgba(32, 32, 32, .3);
        background: white;
        text-align: center;
      }
      th,td{
        padding: 12px 15px;
      }
      th{
        background: #BC85A3;
        color: white;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
      }
      td{
        font-family: 'Open Sans' ,sans-serif;
      }
      tr:nth-child(odd){
        background-color: #eeeeee;
      }
    </style>
  </head>
  <body>
    <div class="index">
      {% include "navbar.html" %} 
    </div>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- key dr respone di view -->
      {% if catatan %}
        {% for note in catatan %} 
        <tr>
          <td>{{note.to}}</td>
          <td>{{note.fromF}}</td>
          <td>{{note.title}}</td>
          <td>{{note.message}}</td>
        </tr>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>