<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #506D84;">
        <div class="container-fluid">
            <a class="navbar-brand">Welcome to Friend Note</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/lab-4/">Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url "add_note"%}">Add Note</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url "note_list"%}">Card</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
  </head>
  <body>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        *{
        padding: 0;
        margin:0;
        outline: 0;
        box-sizing: border-box;
      }
      body{
        background: #9596a8;
        width: 100%;
      }
      nav{
        background-color:#9596a8;
        height: 80px;
        box-shadow: 0 6px rgb(0,0,0,0.5);
        width: 100%;
        position: relative;
        top:0px;
        }
      .navbar-brand{
        color: white;
        font-size: 30px;
        line-height: 80px;
        padding: 0 0 0 40px;
        font-weight: bold;
        letter-spacing: 3px;
    }

    </style>
  </head>
  <body>
    <!-- <div class="container"> -->
        <nav class="navbar navbar-expand-md navbar-light">
            <h1 href="#" class="navbar-brand">Welcome to Friend Note</h1>
                <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="toggleMobileMenu"
                aria-controls="toggleMobileMenu"
                aria-expanded="false"
                aria-lable="Toggle navigation"
                >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="toggleMobileMenu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/lab-4/">Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url "add_note"%}">Add Note</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url "note_list"%}">Card</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
  </body>
</html>










