<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- key dr respone di view -->
      {% for people in friends %} 
      <tr>
        <td>{{people.name}}</td>
        <td>{{people.npm}}</td>
        <td>{{people.dob}}</td>
      </tr>
	  {% endfor %}
    </table>
  </body>
</html>