<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lab2</title>
  </head>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Massage</th>
      </tr>
      <!-- key dr respone di view -->
      {% if catatan %}
        {% for note in catatan %} 
        <tr>
          <td>{{note.to}}</td>
          <td>{{note.fromF}}</td>
          <td>{{note.title}}</td>
          <td>{{note.message}}</td>
        </tr>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>
